<!DOCTYPE html>
<html>

<head>
    <title>{{judul}}</title>
    <link rel="icon" href="/img/imgg.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="content-wrapper">
            <img class="portrait" src="img/me.png" alt="Foto Profil">
            <div class="bio">
                <p>Nama : {{nama}}</p>
                <p>Alamat : {{alamat}}</p>
                <p>Telepon : {{telepon}}</p>
                <p>Email : {{email}}</p>
                <p>Pendidikan : {{pendidikan.[0].prodi}} di {{pendidikan.[0].institusi}}</p>
                <p>NIM : {{nim}}</p>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>